<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Strona główna</title>
</head>
<body>
<h1>Witaj na stronie głównej!</h1>

<!-- Sprawdź, czy użytkownik jest zalogowany -->
<p th:if="${#authentication != null}">
    Jesteś zalogowany jako: <span th:text="${#authentication.name}"></span>
</p>
<p th:unless="${#authentication != null}">
    Nie jesteś zalogowany.
</p>

<h2>Twoje konta:</h2>
<ul>
    <li th:each="account : ${accounts}">
        <span th:text="${account.name}"></span> -
        <span th:text="${account.bank}"></span> -
        <span th:text="${account.balance}"></span>
    </li>
</ul>

<a th:href="@{/accounts/add}">Dodaj nowe konto</a>
<br>
<form th:action="@{/logout}" method="post">
    <button type="submit">Wyloguj się</button>
</form>
</body>
</html>